
a:active{ color:white ; }
a:hover {color:red; }
#logo
{ width: 45px;
height:45px;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin-left: 23%;
    margin-right: 23%;
    
  }
  
  li {
    display: inline;
  }
    
  li a  {
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
  }
body
{Background-image:

    Linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    
    Linear-gradient(127deg, black, black 70.71%),
    
    Linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    
            }
p 
{ color: beige;
}
img {
    width: 100%;
}
.cover {
  width: 100%;
  height: 450px;
  padding: 50px;
  background-image: url(https://iyadhkhalfallah.github.io/checkpointsGMC/res/webdev3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 87px;
  box-shadow: 0 3px 2px rgba(0, 0, 0, .5);
  box-sizing: border-box;
}
.cover .heading {
  font-size: 6em;
  font-family: 'Bree Serif', serif;
  color: white;
  position: relative;
  top: 40%;
 
  text-shadow: 5px 2px rgb(12, 11, 11);
}

body {
  text-align: center;
}

h2 h1 {
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
}

#fade{
   display:none;
}

.course1{
  width: 250px;
  height: 250px;
background-image:url("../res/img1.png");
background-size: cover;
display: inline-block;
margin-left:50px ;
overflow:hidden;
}

.course2{
   width: 250px;
  height: 250px; 
  margin-left:50px ;
  background-size: cover;
background-image:  url("../res/img2.png");
display: inline-block;
overflow:hidden;
}
.course3{ 
  width: 250px;
  height: 250px;
  margin-left:50px ;
  background-size: cover;
background-image:url("../res/img3.png") ;
display: inline-block;
overflow:hidden;
}

.course4{
  width: 250px;
  height: 250px;
  margin-left:50px ;background-size: cover;
background-image: url("../res/img4.png");
display: inline-block;
overflow:hidden;
}

.course5{
  width: 250px;
  height: 250px;
  margin-left:50px ;
  background-size: cover;
background-image: url("../res/img5.png" );
 display: inline-block;
 overflow:hidden;}

.course6{
  width: 250px;
  height: 250px;
  margin-left:50px ;
  background-size: cover;
background-image: url("../res/img6.png");
display: inline-block;  
overflow:hidden;
}

.course7{ width: 250px;
  height: 250px;
  margin-left:50px ;
  background-size: cover;
background-image:   url( "../res/img7.png")  ;
 display: inline-block; 
 overflow:hidden;
}


.course8{ width: 250px;
  height: 250px;
  margin-left:50px ;
  background-size: cover;
background-image: url("../res/img8.png");
display: inline-block; overflow:hidden;}

.course9{ width: 250px;
  height: 250px;
  margin-left:50px ;background-size: cover;
background-image: url("../res/img9.png") ;
display: inline-block;
overflow:hidden;}

.boutton1{
  margin-top:120px;
  display:none;
}.course1:hover{
  background-color:black;
  opacity: 0.5;
}


.boutton2{
  margin-top:120px;
  display:none;
}.course2:hover{
  background-color:black;
  opacity: 0.5;
}

.boutton3{
  margin-top:120px;
  display:none;
}.course3:hover{
  background-color:black;
  opacity: 0.5;
}

.boutton4{
  margin-top:120px;
  display:none;
}.course4:hover{
  background-color:black;
  opacity: 0.5;
}

.boutton5{
  margin-top:120px;
  display:none;
}.course5:hover{
  background-color:black;
  opacity: 0.5;
}

.boutton6{
  margin-top:120px;
  display:none;
}.course6:hover{
  background-color:black;
  opacity: 0.5;
}

.boutton7{
  margin-top:120px;
  display:none;
}.course7:hover{
  background-color:black;
  opacity: 0.5;
}

.boutton8{
  margin-top:120px;
  display:none;
}
.course8:hover{
  background-color:black;
  opacity: 0.5;
}

.boutton9{
  margin-top:120px;
  display:none;
}
.course9:hover{
  background-color:black;
  opacity: 0.5;
}


.boutton1Hover{
  display:inline !important;
  opacity: 1 !important;
}
.navbar{
  background-color: transparent !important;
  border-color:transparent !important;
}
#ulNav{
  margin-left:23%;
}

#ulNav>li{
  margin-left:70px;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  
}
#ulNav>li>a{
  color:white !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#ulNav>li>a:hover {
  color:red !important;
}

label{
  color:white !important;
}



